<!DOCTYPE html>
<html lang = "en" ng-app = 'myDisplay'>

<head>
<link href = "./css/style.css" rel = "stylesheet" type = "text/css" media = "screen">



<script src  = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src  = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>

<!-- <link href  = "FYC/main.js" type = "text/javascript"> -->


<link href="https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One|Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">




<script src = "./js/app.js" type = "text/javascript" media = "screen"></script>



</head>



<body>

<!-- <div id = "back">
</div> -->










        <div ng-controller = "myControl">

            <div ng-style = "mainStyle" id = "mainHead">
                <p ng-style = "headStyle" ng-bind = "fyc"></p>

            </div>

                <form>
                <p ng-click = "searchClick()" ng-style = "fontStyle"  ><input  type = "text" ng-model = "search"  required></p>

                        <div id = "searchPage">
                        </div>
                </form>

                            <button ng-style = "buttonStyle"  ng-click = "clickFunction()">+</button>


                                <div class = "secondBar">



                                    <p ng-href = "#news" ng-style = "newsStyle" ng-bind = "news" ng-click = "newsGo()" ></p>



                                    <p ng-style = "yoursStyle" ng-bind = "yours"></p>


                                    <p ng-style = "selectStyle" ng-bind = "select"></p>

                                </div>


    <div ng-view></div>
                                        <div ng-style  = "menuStyle" ng-show = "showMenu">
                                            <h1 ng-click = "closeMenu()" ng-style = "xStyle">X</h1>
                                            <h2 ng-click = "logIn()" ng-style = "logStyle">Log In</h2>

                                            <p ng-class = "userBox" ng-style = "userStyle" >User : <br><input type = "text" placeholder = "Name"></p>
                                            <p ng-style = "passwordStyle" >Password : <br><input type = "text" placeholder = "Password"></p>

                                        </div>




        </div>





<script>


</script>

</body>

</html>
